*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", sans-serif;
}

#section_img{
    max-width: 600px; 
    max-height: 600px; 
    object-fit: cover;
    border-radius: 6px;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    padding: 0;
}

#section1_alimentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background: url('https://images.pexels.com/photos/1028599/pexels-photo-1028599.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'), rgba(0,0, 0, 0.4);
    background-blend-mode: color-burn;
    background-position: center;
    background-size: cover;
    color: white;
    height: 95dvh;
}

#card:hover{
    scale: 1.05;
    cursor: pointer;
    transition: all ease 0.5s;
}

#section1_higiene{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background: url('https://www.fundacionmapfre.org/media/blog/salud-claves-mantener-buena-higiene-768x520-1.jpg'), rgba(0,0, 0, 0.4);
    background-blend-mode: color-burn;
    background-position: center;
    background-size: cover;
    color: white;
    height: 95dvh;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 1rem;
}
.carousel-item img {
    height: 500px;
    object-fit: cover;
}